body {
  background: $background;
  display: flex;
  flex-direction: column;
  color: $black;
 
}
.wrapper {
  flex: 1;
  margin: 10px 5px;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
 

  .wrapper-title {
    font-size: 3vw;
    text-align: center;
    padding: 8vw 0 4vw 0;
  }
}

.educations {
  margin: 1vw 18vw;
  padding: 30px 0;
  
  .educations_school {
    font-size: 2vw;
    text-align: center;
    padding: 0px 0 20px 0;
  }
  .educations_education {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0 20px 0;
  }

  .educations_description {

  }
}

.work {
  margin: 1vw 18vw;
  padding: 30px 0;
 
  .work-title {
    text-align: center;
    padding: 0px 0 20px 0;
  }

  .work-business {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0 20px 0;
  }

  .work-description {
    font-weight: thin;
  }

  .title {
    font-size: 22px;
    text-align: center;
  }
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;


  .title {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 0 50px;
    

    .title_name {
      font-size: 38px;
      font-family: $title;
      font-weight: bold;
     
    }
    .title_text {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }   

  .middlePart {
    flex: 1;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    padding-right: 20px;
     

    .socials_profiles {

      img {
        width: 20px;
        margin: 20px 5px;
      }
    }
  }
}

nav {

 color: $black;

  ul {
    text-align: center;
    
    li {
       display: inline;
       padding: 10px;
       font-size: 16px;
       
       a:link {
         text-decoration: none; 
       }
    
       a:active {
        text-decoration: underline;
       }

       a:visited {
    
       }
    }
  }
}

#i-nav {
  display: none;
}


.knowledge {
  margin: 1vw 18vw;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  

  .knowledge-technics {
     margin-right: 30px;
    
     .knowledge-technics-technic {

     }
    
  }

  .knowledge-form {
    margin-left: 60px;
  }

}

.portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;

  .portfolio_name{
    font-size: 24px;
    padding-bottom: 30px;
  }

  .portfolio_title {
    font-size: 28px;
  }

  .portfolio_portfolio {
    font-size: 36px;
   
  }
}


.project {
  position: relative;
  padding: 2.5vw 10vw;
  transform: translateX(-50%);
  left: 50%;


  .project-name {
    font-size: 2.5vw;
    text-align: center;
    padding: 2px;
  }

  .project-box {
    display: flex;
    flex-direction: row;
    padding-bottom: 1vw;
   
    .project-left {
      width: 50%;
      padding: 2vw;
      
         
       .project-image {
        width: 35vw;
        height: auto;
       }

      .project-text {
        padding: 2vw;

      }

       .project-description {
         line-height: 20px;
        
         .project-description__generally {
          padding-top: 5px; 
         }
          
         .project-description__description {

         }

        
        }
      }

      
    }

    .project-right {
      width: 50%;
      padding: 3vw;

      .project-image {
        width: 35vw;
        height: auto;
      }

      .project-text {
        padding: 2vw;
      }

      .project-description {
        line-height: 20px;
        
     
        .project-description__generally {
            padding: 5px 0 10px 0; 
        }
            
        .project-description__description {
             
        }
      }
    }
  }

 .project-subheading {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
 }

          
  .project-technics {
    padding-top: 2vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
      
    .project-technics__technic {
       padding:5px 10px;
       font-weight: bold;
    }
}


.contact {
  width: 100%;
  height: 300px;
  margin: 50px 0;

  
  .contact-title {
    font-size: 24px;
    text-align: center;
  }

  .contact-phone {
    
  }

  .contact-mail {
     
  }

  .contact-linkedin {
  }
}

.about {
  margin: 1vw 18vw;
  padding: 30px 0;

  img {
    position: relative;
    border-radius: 35%;
    transform: translateX(-50%);
    left: 50%;

  }

  .about-me {
    margin: 2vw 10vw;

  }

  .about-want {
    margin: 2vw 10vw;
  }

  .about-like {
    margin: 2vw 10vw;
  }
}

.footer {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  
  .footer_name {
    padding: 20px; 
  }

  .footer_phone {
     padding: 20px; 
  }

  .footer_email {
     padding: 20px; 
  }

  .active {
    text-decoration: underline;
    color: red;
  }
}

