* {
	padding:0px;
	margin: 0px;
}

body {
  background: $background;
  font-size: 16px;
   
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 5px;

  .wrapper-title {
    font-size: 22px;
    text-align: center;
    padding: 30px;
  }
}

.educations {
  margin: 20px 40px;
  
  .educations_education {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
  }
  
  .educations_school {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    padding-bottom: 2vw;
  }
}

.work {
  margin: 1vw 18vw;
  padding: 30px 0;
 
  .work-title {
    text-align: center;
    padding: 0px 0 20px 0;
    font-weight: bold;
  }

  .work-business {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0 20px 0;
  }

  .work-description {
    font-weight: thin;
  }

  .title {
    font-size: 22px;
    text-align: center;
  }
}

header {
  display: flex;
  flex-direction: row;
  

  .title {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;

    .title_name {
      font-size: 18px;
      font-family: $title;
      font-weight: bold;
    }
    .title_text {
      font-size: 14px;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }   

  .middlePart {
    flex: 1;
  }

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;

    .socials_profiles {

      img {
        width: 20px;
      }
    }
  }
}

nav {
ul {
  display:none;
	list-style:none;
	width:100%;


  li {
    display: inline;
    width: 100%;
    border-bottom: 1px solid #666;
  }

  li a {
    display: block;
    line-height: 40px;
    font-family: sans-serif;
  
  }

  a {
    text-decoration:none;
   }
}
}
#i-nav {
	position:absolute;
	top:38px;
	right:20px;
	width:44px;
	height:44px;
}


.show {
	display: block;
}



.portfolio {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;

  .portfolio_name{
    font-size: 20px;
    padding-bottom: 30px;
  }

  .portfolio_title {
    font-size: 20px;
  }

  .portfolio_portfolio {
    font-size: 24px;
   
  }
}

.project {
  position: relative;
  transform: translateX(-50%);
  left: 50%;  
  margin-bottom: 6vw;

  .project-name {
    font-size: 22px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
  
  }

  .project-box {
    display: flex;
    flex-direction: column;
    padding-bottom: 1vw;
     

    .project-left {
      width: 100%;
           
         
       .project-image {
        width: 80vw;
        height: auto;
        margin-bottom: 20px;
        position: relative;
        transform: translateX(-50%);
        left: 50%;  
       }

       .project-description {
          padding: 40px;

           .project-description__generally {

         }
          
         .project-description__description {

         }

       
        }
      }

     }

    .project-right {
      width: 100%;
     
      .project-image {
        width: 80vw;
        height: auto;
        margin-bottom: 20px;
       }

      .project-description {
        padding: 0 40px 0 40px;

        .project-technics {

          .project-technics__technic {
            padding: 5px 10px;
            font-size: 12px;
            
          }
        }
      }
    }
  }
  
  .project-subheading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
 }

          
  .project-technics {
    padding-top: 2vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
    font-size: 14px;
      
    .project-technics__technic {
       padding:5px 5px;
       font-size: 12px;
       
    }
  
}

.knowledge {
  display: flex;
  flex-direction: row;
  position: relative;
  transform: translateX(-50%);
  left: 50%;

  .knowledge-technic {
    width: 50%;
  }

  .knowledge-form {
    width: 50%;
    line-height: 20px;
  }
}

.about {
  margin: 1vw 8vw;
  padding: 30px 0;

  img {
    position: relative;
    border-radius: 35%;
    transform: translateX(-50%);
    left: 50%;
    width: 70vw;

  }

  .about-me {
    margin: 2vw 3vw;

  }

  .about-want {
    margin: 2vw 3vw;
  }

  .about-like {
    margin: 2vw 3vw;
  }
}


.footer {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  text-align: center;
  
  .footer_name {
    padding:5px; 
  }

  .footer_phone {
     padding:5px; 
  }

  .footer_email {
     padding:5px; 
  }
}