body {
 background: $background;
 font-size: 16px;
 
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px 5px;
    font-family: 'Roboto', sans-serif;

  .wrapper-title {
    font-size: 26px;
    text-align: center;
    padding: 50px;
  }
}

.educations {
  margin: 1vw 18vw;
  padding: 30px 0;
  
  .educations_school {
    font-size: 2vw;
    text-align: center;
    padding: 0px 0 20px 0;
  }
  .educations_education {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0 20px 0;
  }

  .educations_description {

  }
}

.work {
  margin: 1vw 18vw;
  padding: 30px 0;
 
  .work-title {
    text-align: center;
    padding: 0px 0 20px 0;
    font-weight: bold;
  }

  .work-business {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 0px 0 20px 0;
  }

  .work-description {
    font-weight: thin;
  }

  .title {
    font-size: 22px;
    text-align: center;
  }
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;

  .title {
    display: flex;
    flex-direction: column;
    margin: 20px 30px;

    .title_name {
      font-size: 24px;
      font-family: $title;
      font-weight: bold;
    }
    .title_text {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }  

   .middlePart {
    flex: 1;
  } 

  .socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
      text-align: right;

    .socials_profiles {

      img {
        width: 20px;
      }
    }
  }
}

nav {
 font-size: 14px;
 

  ul {
    text-align: center;
    
    li {
       display: inline;
       padding:5px;
       color: $black;
      
       a {
        text-decoration: none;
    
        a:active {
          border-bottom: red;
          font-weight: bold;
        }

        a:visited {
          border-bottom: green;
        }

       }

    }
  }
}

#i-nav {
  display: none;
}

.cross {
  display: none;
}

.portfolio {
  display: flex;
  flex-direction: column;
   text-align: center;
   margin: 30px;

  .portfolio_name{
    font-size: 24px;
    padding-bottom: 30px;
  }

  .portfolio_title {
    font-size: 28px;
  }

  .portfolio_portfolio {
    font-size: 36px;
   
  }
}

.project {
  margin: 30px 0;
  transform: translateY(-50px);
  left: 50%;

  .project-name {
    font-size: 22px;
    padding: 10px;
    text-align: center;
  
  }

  .project-box {
    display: flex;
    flex-direction: row;
    margin: 20px;

    .project-left {
      width: 50%;
      padding: 2vw;
      
         
       .project-image {
        width: 40vw;
        height: auto;
      }

      .project-description {
            line-height: 15px;
         .project-description__generally {
            padding-top: 5px; 
         }
          
         .project-description__description {

         }

        
      }
    }

    .project-right {
      width: 50%;
      padding: 2vw;

      .project-image {
        width: 40vw;
        height: auto;
      }

      .project-description {
        line-height: 15px;
        
        .project-description__generally {
            padding-top: 5px; 
         }
          
         .project-description__description {

         }
      }
    }
  }

  .project-subheading {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

          
  .project-technics {
    padding-top: 2vw;
    flex-direction: row;
    display: flex;
    justify-content: center;
      
    .project-technics__technic {
       padding:5px 10px;
    }
  }  
  
}


.knowledge {
  margin: 1vw 18vw;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  position: relative;
  transform: translateX(-50%);
  left: 50%;

  .knowledge-technic {
    
  }

  .knowledge-form {
   
  }
}



.about {
  margin: 1vw 8vw;
  padding: 30px 0;

  img {
    position: relative;
    border-radius: 35%;
    transform: translateX(-50%);
    left: 50%;

  }

  .about-me {
    margin: 2vw 10vw;

  }

  .about-want {
    margin: 2vw 10vw;
  }

  .about-like {
    margin: 2vw 10vw;
  }
}


.footer {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  justify-content: center;
  
  .footer_name {
    padding:20px; 
  }

  .footer_phone {
     padding:20px; 
  }

  .footer_email {
     padding:20px; 
  }
}
